<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
	<meta charset="UTF-8">
	<title>AdAstraX</title>
	<link rel="stylesheet" type="text/css" href="{% static 'lesson.css' %}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			  $(".wrapper").toggleClass("active")
			})
		});
	</script>
</head>
<body>

<div class="wrapper">

	<div class="top_navbar">
		<div class="logo">
			<a href="#"><img src="{% static 'LOGO_white.png' %}">AdAstraX</a>
		</div>
		<div class="top_menu">
			<div class="home_link">
				{% if user.is_authenticated %}
				<a href="javascript:{document.getElementById('logout').submit()}">
					<span class="icon"><i class="fas fa-home"></i></span>
					<span>Home</span>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</a>
				{% endif %}
			</div>
			<div class="right_info">
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-bell"></i>
					</div>
				</div>
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-cog"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_body">
		
		<div class="sidebar_menu">
	        <div class="inner__sidebar_menu">
	        	
	        	<ul>
		          <li>
		            <a href="{% url 'dashboard' %}">
		              <span class="icon">
		              	<i class="fas fa-border-all"></i></span>
		              <span class="list">Dashboard</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'profile' %}">
		              <span class="icon"><i class="fas fa-user"></i></span>
		              <span class="list">User Profile</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'payment' %}">
		              <span class="icon"><i class="fas fa-money-check-alt"></i></span>
		              <span class="list">Payment</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'lesson' %}" class="active">
		              <span class="icon"><i class="fas fa-video"></i></span>
		              <span class="list">Enter the Lesson</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'schedule' %}">
		              <span class="icon"><i class="fas fa-calendar-alt"></i></span>
		              <span class="list">Schedule</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
		              <span class="list">Log Out</span>
		            </a>
		          </li>
		        </ul>

		        <div class="hamburger">
			        <div class="inner_hamburger">
			            <span class="arrow">
			                <i class="fas fa-long-arrow-alt-left"></i>
			                <i class="fas fa-long-arrow-alt-right"></i>
			            </span>
			        </div>
			    </div>

	        </div>
	    </div>

	    <div class="container">
	    	<section>
				<div id="drawingTools">
					<div id="colors">
						<button id="black" onclick="changeColor('black')"></button>
						<button id="white" onclick="changeColor('white')"></button>
						<button id="red" onclick="changeColor('red')"></button>
						<button id="green" onclick="changeColor('green')"></button>
						<button id="blue" onclick="changeColor('blue')"></button>
					</div>
					<div id="otherTools">
						<button id="clearCanvas" onclick="clearCanvas()">Clear</button>
					</div>
				</div>
				<canvas id="canvas" width="800" height="500"></canvas>
			</section>
			<!-- <script src="{% static 'lesson.js' %}"></script> -->
			<script type="text/javascript">
				var canvas = document.getElementById('canvas');
				var context = canvas.getContext('2d');
				context.lineWidth = 5;
				var down = false;

				canvas.addEventListener('mousemove', draw);

				canvas.addEventListener('mousedown', function()
				{
					down = true;
					context.beginPath();
					context.moveTo(xPos, yPos);
					canvas.addEventListener('mousemove', draw);
				});

				canvas.addEventListener('mouseup', function() { down == false; });

				function draw(e){
					xPos = e.clientX - canvas.offsetLeft;
					yPos = e.clientY - canvas.offsetTop;

					if (down == true){
						context.lineTo(xPos, yPos);
						context.stroke;
					}
				}

				function changeColor(color) { context.strokeStyle = color; }
				function clearCanvas() { context.clearRect(0, 0, canvas.width, canvas.height); }

			</script>
	    </div>
	</div>
</div>
	

</body>
</html>