<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
	<meta charset="UTF-8">
	<title>AdAstraX</title>
	<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			  $(".wrapper").toggleClass("active")
			})
		});
	</script>
</head>
<body>

<div class="wrapper">

	<div class="top_navbar">
		<div class="logo">
			<a href="#"><img src="{% static 'LOGO_white.png' %}">AdAstraX</a>
		</div>
		<div class="top_menu">
			<div class="home_link">
				{% if user.is_authenticated %}
				<a href="javascript:{document.getElementById('logout').submit()}">
					<span class="icon"><i class="fas fa-home"></i></span>
					<span>Home</span>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</a>
				{% endif %}
			</div>
			<div class="right_info">
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-bell"></i>
					</div>
				</div>
				<div class="icon_wrap">
					<div class="icon">
						<i class="fas fa-cog"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main_body">
		
		<div class="sidebar_menu">
	        <div class="inner__sidebar_menu">
	        	
	        	<ul>
		          <li>
		            <a href="{% url 'dashboard' %}">
		              <span class="icon">
		              	<i class="fas fa-border-all"></i></span>
		              <span class="list">Dashboard</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'profile' %}" class="active">
		              <span class="icon"><i class="fas fa-user"></i></span>
		              <span class="list">User Profile</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'payment' %}">
		              <span class="icon"><i class="fas fa-money-check-alt"></i></span>
		              <span class="list">Payment</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'lesson' %}">
		              <span class="icon"><i class="fas fa-video"></i></span>
		              <span class="list">Enter the Lesson</span>
		            </a>
		          </li>
		          <li>
		            <a href="{% url 'schedule' %}">
		              <span class="icon"><i class="fas fa-calendar-alt"></i></span>
		              <span class="list">Schedule</span>
		            </a>
		          </li>
		          <li>
					{% if user.is_authenticated %}
		            <a href="javascript:{document.getElementById('logout').submit()}">
		              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
					  <span class="list">Log Out</span>
					  <form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
					</a>
					{% endif %}
		          </li>
		        </ul>

		        <div class="hamburger">
			        <div class="inner_hamburger">
			            <span class="arrow">
			                <i class="fas fa-long-arrow-alt-left"></i>
			                <i class="fas fa-long-arrow-alt-right"></i>
			            </span>
			        </div>
			    </div>

	        </div>
	    </div>

	    <div class="container">
	    	<div class="profile">
	    		<div class="bio">
					<img src="{% static 'head.jpg' %}" alt="">
					<span class="name">
						<h1>{{ user.username }}</h1>
						<i class="fas fa-map-pin"><p>Almaty</p></i>
						<i class="fas fa-exclamation"><p>To Change the Photo - Click on It</p></i>
					</span>
					<span class="edit">
						<i class="fas fa-male"><p>Man</p></i>
						<i class="fab fa-mandalorian"><p>20 y.o.</p></i>
						<a href="#"><i class="fas fa-pen"><p>Edit Bio</p></i></a>
					</span>
				</div>
				<hr>
				<div class="attendance">
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
					<div class="day">day</div>
				</div>
			</div>
			<div class="balance">
				<div class="common">
					<b>Balance</b>
					<p>1 0000,00 / 3 lessons</p>
				</div>
				<div class="lessons">
					<b>Lesson Attended</b>
					<p>100</p>
				</div>
				<div class="payments">
					<b>Payments</b>
					<p>1</p>
				</div>
			</div>
	    </div>
	</div>
</div>
	

</body>
</html>